extends pug/base

append vars
	- html.classList.push('page-index')
	- body.classList.push('is-loading')

block content

	//- Загрузчик
	.loader(data-loader)
		.loader__inner
			span {
			span }
	.out
		//- Анкета пользователя
		.info.grid-container
			.grid-x.grid-padding-x
				.info__profile.cell.medium-2
					img(src="images/avatar.jpg" alt="Profile photo")
				.info__contact.contact.cell.medium-6
					.contact__row
						input.input(type="text" placeholder="Имя" value="Сергей Нагорных")
					.contact__row
						input.input(type="text" placeholder="Дата рождения" value="21.03.1993")
					.contact__row
						input.input(type="text" placeholder="Город" value="Киев")
					.contact__row
						input.input(type="text" placeholder="Образование" value="высшее, в сфере ИТ")

		//- Навыки
		.skills.grid-container
			h3.skills__title.title Навыки
			.grid-x.grid-padding-x.small-up-2.medium-up-4
				-
					var skillsList = [[{attr: "checked",text: "Html5"}, {attr: "checked", text: "css3"}, {attr: "checked", text: "БЭМ"}, {attr: "checked", text: "Webpack"}],
					[{attr: "checked", text: "SASS"}, {attr: "checked", text: "LESS"}, {attr: "checked", text: "Liquid"}, {attr: "checked", text: "gULP"}],
					[{attr: "checked", text: "vANILLAJS"}, {text: "angular"}, {attr: "checked", text: "JQUERY"}, {text: "React"}],
					[{attr: "checked", text: "GIT"}, {attr: "checked", text: "fOUNDATION"}, {attr: "checked", text: "BOOTSTRAP"}, {attr: "checked", text: "Scrum"}]
					];
				each skillsCell in skillsList
					.cell
						ul.skills__list.list
							each skillsItem in skillsCell
								li.list__item
									label
										if skillsItem.attr
											input.list__checkbox(type="checkbox" checked)
										else
											input.list__checkbox(type="checkbox")

										span.list__text= skillsItem.text
		
		//- График и счетчик
		.interactive.grid-container
			.grid-x.grid-padding-x.medium-up-2
				.cell
					.pie(data-pie)
						.pie__arrow(data-arrow)
				.cell
					h3.title 
						| Уровень владения 
						br 
						| веб-технологиями
					.meter(data-meter) 0
