*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	display: flex;
	font-family: $font-family-roboto;
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	line-height: 1.4;
	color: $color-dove-gray;
	background-color: $color-bg;
	align-items: center;
	justify-content: center;
}

html, 
body {
	height: 100%;
}

.out {
	width: 100%;
	margin: auto;
}

.input {
	border: 0;
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	line-height: 30px;
	height: 30px;
	width: 100%;
	&::placeholder {
		color: inherit;
	}
	&:focus {
		outline: none;
	}
}

.title {
	font-size: 18px;
	color: $color-black;
}